body {
    display: flex;
    align-items: center;
    background-color: lightpink;
    background: linear-gradient(to right, #f6f1d3, #aa5877, #423385);
    flex-direction: column;
}

/* .container {
    display: flex;
    
} */

button {
    height: 150px;
    width: 150px;
    background-color: rgb(203, 150, 224);
}

p,
h1 {
    color: white;
    font-weight: bold;
}